 <!-- check if the user won   -->
<% if @game.check_win_or_lose == :lose %>
 <h1>Sorry, you lose!</h1>

 <p>
  The word was
  <span class="lose"><%= @game.word %></span>
 </p>
 <%= erb :new %>
<% else %>
 <!-- if he didn't redirect him to the previous state    -->
 <%= erb :show %>
<% end %>


